---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import EnergyForm from '../components/EnergyForm.astro';
import Alert from '../components/Alert.astro';
import Loading from '../components/Loading.astro';
import ResultsSection from '../components/ResultsSection.astro';
---

<Layout>
    <Header />
    
    <div>
        <EnergyForm />
        <ResultsSection />
        <Alert />
        <Loading />
    </div>
</Layout>

